/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

&mmv {
    time-to-max-speed-ms = <500>;
};
&mwh {
    acceleration-exponent=<2>;
};
 
/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_LAYERS";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&to 1>, <&to 2>;
        };;
    };
        combos {
        compatible = "zmk,combos";
        combo_bt_clr {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&bt BT_CLR>;
            layers = <1>;
        };
           combo_bt_1 {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&bt BT_SEL 0>;
            layers = <0 1 2>;
           };     
            combo_bt_2 {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&bt BT_SEL 1>;
            layers = <0 1 2 >;
           }; 
            combo_bt_3 {
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&bt BT_SEL 2>;
            layers = <0 1 2 >;
           };
            combo_to_3 {
            timeout-ms = <50>;
            key-positions = <37 40>;
            bindings = <&to 3>;
            layers = <0 1 2>;
           }; 
            combo_to_0 {
            timeout-ms = <25>;
            key-positions = <38 39>;
            bindings = <&to 0>;
            layers = <1 2 3>;
           }; 
           
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &lt 3 Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &lt 3 O   &kp P    &kp BSPC
   &sk LCTRL &lt 1 A &kp S &kp D &kp F &lt 2 G   &lt 2 H &kp J  &kp K     &kp L   &lt 1 SEMI &kp SQT
   &sk LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &to 0 &kp RET   &kp SPACE &td0 &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |@q     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
    &kp TAB    &kp N1       &kp BSLH    &kp PAGE_DOWN      &kp PAGE_UP       &kp DOT         &kp N0   &kp N7   &kp N8 &kp N9    &kp N0 &trans
   &trans &kp ASTERISK &kp AT &kp CARET &kp DOLLAR &kp DOT   &kp N0 &kp N4 &kp N5 &kp N6 &trans &trans
   &trans  &none       &none       &none       &kp PIPE       &none         &none   &kp N1   &kp N2 &kp N3    &none &trans
                                    &kp LGUI     &trans      &trans      &trans  &trans   &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  (  |  )  |  *  | BKSP |
// | CTRL |     |     |     |     |     |   |  _  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  -  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp UP_ARROW &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp LPAR &kp RPAR &kp ASTERISK &kp BSPC
   &trans &kp TILDE &kp LEFT_ARROW  &kp DOWN_ARROW &kp RIGHT_ARROW   &trans      &kp UNDER &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &trans &none   &trans    &trans   &trans   &trans      &kp MINUS &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &trans 
                             &kp LGUI &trans   &trans   &trans   &trans   &kp RALT
                        >;
                };

                more_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  (  |  )  |  *  | BKSP |
// | CTRL |     |     |     |     |     |   |  _  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  -  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &trans  &none &none &mmv MOVE_UP &none &none    &none &mwh SCROLL_UP &none &kp RPAR &kp ASTERISK &kp BSPC
   &trans &none &mmv MOVE_LEFT  &mmv MOVE_DOWN &mmv MOVE_RIGHT   &trans      &kp UNDER &mkp LCLK &mkp RCLK        &kp RBKT &kp BSLH &kp GRAVE
   &trans &trans   &trans    &trans   &trans   &trans      &kp MINUS &mwh SCROLL_DOWN  &kp LBRC        &kp RBRC &kp PIPE &trans 
                             &kp LGUI &trans   &trans   &trans   &trans    &kp RALT
                        >;
                };
        };
};
// TODO:
// 1. combo for the blt-clear key to prevent from wrong press.      @ done
// 2. find a place for page up,down, end, home. maybe one more layer.
// 3. find a place for del, and better symbols location.(maybe)
// 4. coming soon, crete a layer of macros for the markdown language, maybe one for python.(def, class, return...)
// 5. shift to the mouse layer instead of momentary as it's hard to keep it pressed.